@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('Fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'android', cursive; 
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.103);
}

nav > a{
    color:white;
    padding: 10px;
    text-decoration: 0px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main{
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main img.pequena{
    display: block;
    margin: auto;
    width: 50%;
}

main img, iframe{
    width: 100%;
}

main h1{
    color: var(--cor3);
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
}

footer{
    background-color: var(--cor5);
    color: white;
}