@charset "UTF-8";

/*Fonte Padrão - 'Open Sans', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Fonte para Títulos - 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*Fonte para destaque - 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Cor1: #2D8CFF;
    --Cor2: #333333;
    --Cor_fundo: #F4F4F4;

    --font-padrao: "Open Sans", sans-serif;
    --font-titulos: "Lora", serif;
    --font-destaque: "Roboto", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 103px;
    background-color: var(--Cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}


header > h1{
    font-family: var(--font-titulos);
    font-size: 36px;
    font-weight: bold;
    color:white;
}

nav{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
}

nav > a{
    background-color: var(--Cor1);
    font-family: var(--font-padrao);
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 9px;
    margin-right: 13px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #064592;
    
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    background-color: #F4F4F4;
}