@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(Fontes/idroid.otf);
}

body{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom,#2FE38C, #1F5E3B);
}

li{
   display: inline-block;

}