@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(Fontes/idroid.otf);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: normal 1em sans-serif, arial, verdana;
    background-color: #34da8ab0;
}

header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom,#2ebf79, #0e4325);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
}

span{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
span > h1{
    color: white;
    text-align: center;
    width: 100%;
}
span > p{
    width: 100%;
    color: white;
    text-align: center;
    
}



nav{
    display: flex;
    height: 52px;
}


li{
    display: inline-block;
    margin: 7px 0px 0px 0px;
    padding: 0px 10px;
}
li > .nav_links{
    color: white;
    text-decoration: none;
}

.nav_links:hover{
    background-color: #11804a;
    padding: 7px 20px;
    border-radius: 7px;
}


main{
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    height: 188%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
    padding: 20px;
}

.h2_main{
    font-size: 30px;
    margin-left: 30px;
    font-family: idroid;
    color: #1c784b;
}
.h2_main_com_background{
    background-image: linear-gradient(to right, rgba(96, 241, 96, 0.507), white);
    font-size: 30px;
    margin-left: 30px;
    font-family: idroid;
    color: #1c784b;
}
p{
    align-items: flex-start;
}
.paragrafos_main{
    text-indent: 25px;
    margin: 0px 28px 0px 28px;
    text-align: left;
}
.letras_destacadas{
    color: rgb(6, 139, 6);
}
.letras_destacadas_com_links{
    color: rgb(6, 139, 6);
    text-decoration: none;
}

picture.img_1 > img{
    width: 100%;

}

.irina_blok_img{
    width: 100%;
    border-radius: 10px;
}