@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(Fontes/idroid.otf);
}

@font-face {
    font-family: open;
    src: url(Fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: normal 1em sans-serif, arial, verdana;
    background-color: #34da8ab0;
}

header{
    width: 100%;
    height: 232px;
    background-image: linear-gradient(to bottom,#2ebf79, #0e4325);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
}

span{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
span > h1{
    color: white;
    text-align: center;
    width: 100%;
}
span > p{
    width: 100%;
    color: white;
    text-align: center;
    
}



nav{
    display: flex;
    height: 52px;
}


li{
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
}
li > .nav_links{
    color: white;
    text-decoration: none;
}

.nav_links:hover{
    background-color: #11804a;
    padding: 7px 20px;
    border-radius: 7px;
}


main{
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    height: 188%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
    padding: 20px;
}

.h2_main{
    font-size: 30px;
    margin-left: 30px;
    font-family: idroid;
    color: #1c784b;
}
.h2_main_com_background{
    background-image: linear-gradient(to right, rgba(96, 241, 96, 0.507), white);
    font-size: 30px;
    margin-left: 30px;
    font-family: idroid;
    color: #1c784b;
}

.paragrafos_main{
    align-items: flex-start;
    font-size: 25px;
    font-family: open;
    text-indent: 25px;
    margin: 0px 28px 0px 28px;
    text-align: left;
}
.letras_destacadas{
    color: rgb(6, 139, 6);
}
.letras_destacadas_com_links{
    background-color: #2fa8654d;
    color: #063D1E;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px 1px ;
}
.letras_destacadas_com_links:hover{
    background-color: #2fa86579;
    font-size: 20px;
}

picture.img_1 > img{
    width: 100%;

}

.irina_blok_img{
    width: 100%;
    border-radius: 10px;
}

.video_bugdroid_father{
    margin: 15px 0px;
}

.bugdroid{
    width: 100%;
}

.video_bugdroid{
    padding: 0px 20px;
    right: 20px;
    position: relative;
    background-image: linear-gradient(to bottom, #407648, #3B6B42, #325C38);
    width: 100%;
}

div.video_bugdroid > iframe{
    margin: 40px auto;
    width: 100%;
    height: 632px;
    
}

aside{
    background-color: rgb(130, 209, 141);
    border-radius: 10px;
    width: 100%;
    height: 500px;
}
.h2_aside{
    padding: 8px 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: #3B6B42;
    color: white;
    font-family: open, Arial, sans-serif;
}
.paragrafos_aside{
    font-size: 20px;
    margin: 0px 28px 39px 28px;
    text-align: left;
}

.lista_aside_left{
    display: flex;
    padding: 0px;
    margin: -29px 0px;
}

.li_p_aside_left{
    font-size: 17px;
    padding: 3px;
    list-style: lower-alpha;
}
