@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(Fontes/idroid.otf);
}

body{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    font: normal 1em sans-serif, arial, verdana;
    background-color: rgb(236, 218, 168);
}

header{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to bottom,#2ebf79, #0e4325);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
}

span{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
span > h1{
    color: white;
    text-align: center;
    width: 100%;
}
span > p{
    width: 100%;
    color: white;
    text-align: center;
    
}



nav{
    display: flex;
    height: 52px;
}


li{
    display: inline-block;
    margin: 7px 0px 0px 0px;
    padding: 0px 10px;
}
li > a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #11804a;
    padding: 7px 20px;
    border-radius: 7px;
}

main{
    display: flex;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    height: 188%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
}

#h1_main{
    text-indent: 20px;
    font-family: idroid;
    color: #1c784b;
}